# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Deliverable 1: Get a Summary DataFrame

In [3]:
# Split cities into their own dataframes

urban_cities_df = pyber_data_df[pyber_data_df['type'] == 'Urban']
urban_cities_df

suburban_cities_df = pyber_data_df[pyber_data_df['type'] == 'Suburban']
suburban_cities_df

rural_cities_df = pyber_data_df[pyber_data_df['type'] == 'Rural']
rural_cities_df

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [56]:
# 1. Get the total rides for each city type

urban_rides = urban_cities_df.groupby(['type']).count()['ride_id']
urban_ride_count = urban_rides['Urban']

suburban_rides = suburban_cities_df.groupby(['type']).count()['ride_id']
suburban_ride_count = suburban_rides['Suburban']

rural_rides = rural_cities_df.groupby(['type']).count()['ride_id']
rural_ride_count = rural_rides['Rural']
urban_ride_count

dtype('int64')

In [5]:
# 2. Get the total drivers for each city type
total_drivers_by_type = city_data_df.groupby(['type']).sum()['driver_count']
total_drivers_by_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [37]:
#  3. Get the total amount of fares for each city type
urban_fare = urban_cities_df.groupby(['type']).sum()['fare']
urban_fare_total = urban_fare['Urban']

suburban_fare = suburban_cities_df.groupby(['type']).sum()['fare']
suburban_fare_total = suburban_fare['Suburban']

rural_fare = rural_cities_df.groupby(['type']).sum()['fare']
rural_fare_total = rural_fare['Rural']
rural_fare_total

4327.930000000002

In [54]:
#  4. Get the average fare per ride for each city type. 

avg_urban_fare = urban_fare_total / urban_ride_count
avg_urban_fare

avg_suburban_fare = suburban_fare_total / suburban_ride_count
avg_suburban_fare

avg_rural_fare = rural_fare_total / rural_ride_count
avg_urban_fare

dtype('float64')

In [55]:
# 5. Get the average fare per driver for each city type. 
urban_avg_fare_per_driver = urban_fare_total / total_drivers_by_type['Urban']

suburban_avg_fare_per_driver = suburban_fare_total / total_drivers_by_type['Suburban']

rural_avg_fare_per_driver = rural_fare_total / total_drivers_by_type['Rural']
rural_avg_fare_per_driver

dtype('float64')

In [49]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame(
    {
        'Total Rides': [rural_ride_count, suburban_ride_count, urban_ride_count],
        'Total Drivers': [total_drivers_by_type['Rural'], total_drivers_by_type['Suburban'], total_drivers_by_type['Urban']],
        'Total Fares': [rural_fare_total, suburban_fare_total, urban_fare_total],
        'Average Fare per Ride': [avg_rural_fare, avg_suburban_fare, avg_urban_fare],
        'Average Fare per Driver': [rural_avg_fare_per_driver, suburban_avg_fare_per_driver, urban_avg_fare_per_driver]},
index=['Rural', 'Suburban', 'Urban'])
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [51]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [64]:
#  8. Format the columns.
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df['Total Fares'].dtype

dtype('O')

In [ ]:
"district_summary_df[\"Total Students\"] = district_summary_df[\"Total Students\"].map(\"{:,.0f}\".format)\n",
    "# Format the \"Total Budget\" to have the comma for a thousands separator, a decimal separator and a \"$\".\n",
    "district_summary_df[\"Total Budget\"] = district_summary_df[\"Total Budget\"].map(\"${:,.2f}\".format)\n",
    "# Format the columns.\n",
    "district_summary_df[\"Average Math Score\"] = district_summary_df[\"Average Math Score\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"Average Reading Score\"] = district_summary_df[\"Average Reading Score\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"% Passing Math\"] = district_summary_df[\"% Passing Math\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"% Passing Reading\"] = district_summary_df[\"% Passing Reading\"].map(\"{:.1f}\".format)\n",
    "district_summary_df[\"% Overall Passing\"] = district_summary_df[\"% Overall Passing\"].map(\"{:.1f}\".format)\n",

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [61]:
# 1. Read the merged DataFrame
date_type_df = pyber_data_df.groupby(['type'])('date')

TypeError: 'DataFrameGroupBy' object is not callable

In [13]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [14]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [15]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [16]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [17]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [18]:
# 7. Check that the datatype for the index is datetime using df.info()

In [19]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [20]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')